# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

tags
client/client
client_epoll/client_epoll
server_udt/server_udt.a
server/server
utest_server/utest_server

install_pack
cppunit-1.12.1
error.log
error2.log

udt4/app/appclient
udt4/app/appserver
udt4/app/recvfile
udt4/app/sendfile
udt4/app/test
udt4/app/udcat_client
udt4/app/udcat_server
udt4/src/udt
